.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.heading {
  font-size: 30px;
  padding-bottom: 50px;
}

.desc {
  width: 700px;
  padding-bottom: 50px;
  padding-left: 50px;
  text-align: center;
}
