nav {
  background-color: var(--color-nav);
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--color-cwb);
  padding: 12px 15px;
}

.logo img {
  width: 76px;
  height: 76px;
}
.logotext {
  display: flex;
  flex-direction: column;
}

.logotext p {
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

.logotext span {
  font-size: 0.7rem;
  color: #e9e9e9;
  font-weight: 300;
}

.logotext span a {
  color: #e9e9e9;
}

.navitems {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 15px;
}

.navitems a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 13px 15px 13px 20px;
  font-size: 1.2rem;
  border-radius: 7px;
  color: white;
  transition: all 0.3s ease-in-out;
}

.navitems a svg {
  font-size: 1.2rem;
}

.navitems a.active {
  background-color: #3b4354d1;
  color: white;
}

.navitems a:hover {
  color: rgb(208, 113, 45);
}

.bottomDiv {
  margin-top: auto;
  padding: 15px 15px 25px;
}

.loginBtn {
  background-color: #3269d7;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-top: auto;
  padding: 10px;
  color: white;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.loginBtn svg {
  font-size: 1.3rem;
}

.loginBtn:hover {
  gap: 13px;
  background-color: #2654b0;
}

.loginBtn:active {
  transform: scale(0.98);
}
