:root {
  --color-nav: #282c34;
  --color-cwb: #e25124;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans Mono', monospace;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
